{% extends 'base.html' %} {% load static %}

<!-- Content -->
{% block content %}
<div class="content d-flex justify-content-center">
  <hr />
  <div class="user-box">
    <div class="user-header text-center">
      <h2><b>Login</b></h2>
    </div>
    <form action="" method="post" id="userForm">
      {% csrf_token %}
      <div class="form-group m-4">{% include 'form_errors.html' %}</div>
      <div class="form-group m-4">
        <label for="username"><b>ID</b></label>
        <input type="text" name="username" id="username" class="form-control" />
      </div>
      <div class="form-group m-4">
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" id="password" class="form-control" />
      </div>
      <div class="form-group m-4">
        <button type="submit" class="btn btn-outline-primary btn-sm btn-block login">Login</button>
        <p class="d-flex justify-content-between m-1">
          <a href="{% url 'user:signup' %}" class="text-decoration-none">회원가입</a>
          <a href="#" class="text-decoration-none">아이디/비밀번호 찾기</a>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block script %}

<script>
  $(function () {
    $(".login").click(function (e) {
      e.preventDefault();
      $.ajax({
        url: "/user/login_token/",
        type: "post",
        data: {
          username: $("#username").val(),
          password: $("#password").val(),
        },
        dataType: "json",
        success: function (result) {
          console.log(result);
          location.href = "/board/";
        },
        error: function () {},
      });
    });
  });
</script>
{% endblock %}
