{% extends 'base.html' %} {% load static %}
<!-- style -->
{% block style %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link href="{% static 'css/quill.snow.css' %}" rel="stylesheet" />
{% endblock %}

<!-- Content 시작 -->
{% block content %}
<div class="content accordion" id="bbs"></div>
<div class="card side-btn">
  <div class="card-body">
    <div class="btn-row">
      <button type="button" class="btn btn-outline-primary m-2 btn-block side-menu show-editor">New</button>
    </div>
    <div class="btn-row">
      <a class="btn btn-outline-primary m-2 btn-block side-menu" href="#">Top</a>
    </div>
    <div class="btn-row">
      <button type="button" class="btn btn-outline-primary m-2 btn-block side-menu">Bot</button>
    </div>
  </div>
</div>
<form action="{% url 'board:insert' %}" method="post" id="boardInsertForm">
  {% csrf_token %}
  <input type="hidden" name="title" id="boardTitle" />
  <input type="hidden" name="content" id="boardContent" />
  <input type="hidden" name="tags" id="boardTags" />
</form>
<!-- Spinner 로딩 표시 -->
<div class="d-flex justify-content-center">
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
{% endblock %} {% block script %}

<script src="{% static 'js/quill.js' %}"></script>
<script src="{% static 'js/infinite-scroll.js' %}"></script>
<script>

  // Quill Toolbar Option
  var toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike', 'code'],        // toggled buttons

    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown

    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'align': [] }],

    ['clean']                                         // remove formatting button
  ];

  // Quill Editor 선언
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    placeholder: '"</>" 속성으로 블록을 지정하면, 태그로 등록이 됩니다...',
    theme: 'snow'
  });

  // Loading 스피너
  let spinner = document.getElementById('spinner');

  // 스크롤 구현
  $(function () {

    let content = $(".content");
    let id = "";
    var $win = $(window);
    // 최초 페이지 로딩 시 1회 실행
    $.getJSON({
      url: "/board/api/" + id.substring(id.indexOf("?")),
      success: function (result) {
        if(result.next){
          id = result.next;
        }else{
          return;
        }
        content.append(scrollData(result));
      },
    });

    // 스크롤 이후 동작
    $win.scroll(
      debounce(function () {

        var diff = $(document).height() - $win.height() - 50;
        if (diff < $win.scrollTop()) {
          $.getJSON({
            url: "/board/api/" + id.substring(id.indexOf("?")),
            success: function (result) {
              console.log(result)
              if(result.next){
                id = result.next;
              }else{
                return;
              }
              content.append(scrollData(result));
            },
          });
        }
      }, 1500)
    );

    $(".show-editor").click(function(e){
      quill.setContents();
      $("#staticBackdrop").modal("show");
    })

    $(".board-insert").click(function(e){
      e.preventDefault();

      content = quill.getContents()
      $("#boardTitle").val($("#title").val());
      let tags = "";
      var flag = false;
      content.ops.forEach(element => {
        if(element.attributes){
          if(element.attributes.code){
            tags += "#" + element.insert;
            element.insert = "<# " + element.insert + " >"
            if(tags.length >= 120){
              alert("태그가 너무 많습니다.")
              flag = true;
            }
          }
        }
      })
      if(flag){
        return;
      }
      $("#boardContent").val(JSON.stringify(content.ops));
      $("#boardTags").val(tags)
      $("#boardInsertForm").submit();
    })
  });

  const scrollData = (result) => {
    str = '';
    // 태그 분석 부분
    str +=
      '<div class="d-flex justify-content-center text-center tags-analyze">'+
        '<div class="m-4">'+
          '<h4>태그 통계</h4>'+
          '<div><img class="figure-img img-fluid rounded" src="{% static 'img/450x250.png' %}" /></div>'+
        '</div>'+
        '<div class="m-4">'+
          '<h4>태그 단어</h4>'+
          '<div><img class="figure-img img-fluid rounded" src="{% static 'img/450x250.png' %}" /></div>'+
        '</div>'+
      '</div>'+
      '<hr />'
    ;

    str += '<div class="container">';

    // 게시판 내용 부분
    result.results.forEach((currentElement, index, array) => {
      str +=
        '<div id="heading-' + currentElement.id + '">'+
          '<h2 class="mb-0">'+
            '<button class="btn btn-block text-left bbs" type="button" data-toggle="collapse" data-target="#collapse-' + currentElement.id + '" aria-expanded="true" aria-controls="collapse-' + currentElement.id + '" onclick="getContent(' + currentElement.id + ')">'+
              '<div class="media">'+
                '<img src="' + currentElement.writer.profile.image + '" class="mr-3 profile-img" width="75em" height="75em" />'+
                '<div class="media-body">'+
                  '<div class="row">'+
                    '<p class="col-lg-2">LIKE <span class="badge badge-pill badge-primary">' + currentElement.like.length + '</span></p>'+
                    '<h5 class="col-lg-8 mt-0 font-weight-bolder">' + currentElement.title + '</h5>'+
                    '<p class="col-lg-2 text-center font-weight-bolder">' + currentElement.writer.username + '</p>'+
                  '</div>'+
                  '<div class="row">'+
                    '<p class="col-lg-6 font-weight-lighter">#abc #java #python 태그반복 필요</p>'+
                    '<p class="col-lg-4">' + currentElement.created + '</p>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</button>'+
          '</h2>'+
        '</div>'+
        '<div id="collapse-' + currentElement.id + '" class="collapse" aria-labelledby="heading-' + currentElement.id + '" data-parent="#bbs">'+
          '<div class="ql-editor quill-content-' + currentElement.id + ' quill-content"></div>'+
        '</div>'
      ;
    });
    str += '</div>';
    return str;
  }
</script>
{% endblock %}
<!-- Modal -->
{% block modal %}
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title ml-3" id="staticBackdropLabel">New Board</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title" class="modal-title ml-3"><h5>Title</h5></label>
          <input type="text" name="title" id="title" class="form-control" />
        </div>
        <hr />
        <div id="editor"></div>
        <hr />

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary board-insert">save</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
