{% extends 'base.html' %} {% load static %}
<!-- style -->
{% block style %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link href="{% static 'css/quill.snow.css' %}" rel="stylesheet" />
{% endblock %}

<!-- Content 시작 -->
{% block content %}
<div class="content accordion" id="bbs"></div>
<div class="card side-btn">
  <div class="card-body">
    <div class="btn-row">
      <button type="button" class="btn btn-outline-primary m-2 btn-block side-menu show-editor">New</button>
    </div>
    <div class="btn-row">
      <a class="btn btn-outline-primary m-2 btn-block side-menu" href="#">Top</a>
    </div>
  </div>
</div>
<form action="{% url 'board:insert' %}" method="post" id="boardInsertForm">
  {% csrf_token %}
  <input type="hidden" name="title" id="boardTitle" />
  <input type="hidden" name="content" id="boardContent" />
  <input type="hidden" name="tags" id="boardTags" />
</form>
<!-- Spinner 로딩 표시 -->
<div class="d-flex justify-content-center">
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
{% endblock %} {% block script %}

<script src="{% static 'js/quill.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script src="{% static 'js/d3.layout.cloud.js' %}" type="text/JavaScript"></script>
<script src="{% static 'js/infinite-scroll.js' %}"></script>

<script>
  // Quill Toolbar Option
  var toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike', 'code'],        // toggled buttons

    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown

    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'align': [] }],

    ['clean']                                         // remove formatting button
  ];

  // Quill Editor 선언
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    placeholder: '"</>" 속성으로 블록을 지정하면, 태그로 등록이 됩니다...',
    theme: 'snow'
  });

  // Loading 스피너
  let spinner = document.getElementById('spinner');

  // 스크롤 구현
  let id = "";
  $(function () {
    let content = $(".content");
    var $win = $(window);
    // 최초 페이지 로딩 시 1회 실행
    $.getJSON({
      url: "/board/api/" + id.substring(id.indexOf("?")),
      success: function (result) {
        if(result.next){
          id = result.next;
        }else{
          return;
        }
        let tagList = getTagCount(result);
        content.append(scrollData(result));
        drawBarChart(result, tagList)
        // drawWordCloud(result, tagList)
        drawWordCloud(result, tagList)
      },
    });

    // 스크롤 이후 동작
    $win.scroll(
      debounce(function () {

        var diff = $(document).height() - $win.height() - 50;
        if (diff < $win.scrollTop()) {
          $.getJSON({
            url: "/board/api/" + id.substring(id.indexOf("?")),
            success: function (result) {
              if(result.next){
                id = result.next;
              }else{
                return;
              }
              let tagList = getTagCount(result);
              content.append(scrollData(result));
              drawBarChart(result, tagList);
              drawWordCloud(result, tagList);
            },
          });
        }
      }, 1500)
    );

    $(".show-editor").click(function(e){
      quill.setContents();
      $("#staticBackdrop").modal("show");
    })

    $(".board-insert").click(function(e){
      e.preventDefault();

      content = quill.getContents()
      $("#boardTitle").val($("#title").val());
      let tags = "";
      var flag = false;
      content.ops.forEach(element => {
        if(element.attributes){
          if(element.attributes.code){
            tags += "#" + element.insert;
            element.insert = "<# " + element.insert + " >"
            if(tags.length >= 120){
              alert("태그가 너무 많습니다.")
              flag = true;
            }
          }
        }
      })
      if(flag){
        return;
      }
      $("#boardContent").val(JSON.stringify(content.ops));
      $("#boardTags").val(tags)
      $("#boardInsertForm").submit();
    })


  });

  // 추천버튼 Click
  function recommend(boardId){
    console.log(boardId)
  }

  const scrollData = (result) => {
    str = '';
    // 태그 분석 부분
    str +=
      '<div class="d-flex justify-content-center text-center tags-analyze">'+
        '<div class="m-2">'+
          '<canvas id="bar-chart-' + result.next.substring(result.next.indexOf("=") + 1) + '" width="450" height="250"></canvas>'+
        '</div>'+
        '<div class="m-2">'+
          '<svg id="wordcloud-' + result.next.substring(result.next.indexOf("=") + 1) + '" class="wordcloud" width="450" height="250">'+
        '</div>'+
      '</div>'+
      '<hr />'
    ;

    str += '<div class="container">';

    // 게시판 내용 부분
    result.results.forEach((currentElement, index, array) => {
      tags = "";
      if(currentElement.tags){
        for(tag of currentElement.tags){
          tags += "#" + tag + " "
        }
      }
      str +=
        '<div id="heading-' + currentElement.id + '">'+
          '<h2 class="mb-0">'+
            '<button class="btn btn-block text-left bbs" type="button" data-toggle="collapse" data-target="#collapse-' + currentElement.id + '" aria-expanded="true" aria-controls="collapse-' + currentElement.id + '" onclick="getContent(' + currentElement.id + ')">'+
              '<div class="media">'+
                '<img src="' + currentElement.writer.profile.image + '" class="mr-3 profile-img" width="75em" height="75em" />'+
                '<div class="media-body">'+
                  '<div class="row">'+
                    '<p class="col-lg-2">LIKE <span class="badge badge-pill badge-primary">' + currentElement.like.length + '</span></p>'+
                    '<h5 class="col-lg-8 mt-0 font-weight-bolder">' + currentElement.title + '</h5>'+
                    '<p class="col-lg-2 text-center font-weight-bolder">' + currentElement.writer.username + '</p>'+
                  '</div>'+
                  '<div class="row">'+
                    '<p class="col-lg-6 font-weight-lighter">' + tags +'</p>'+
                    '<p class="col-lg-4">' + getYmd10(new Date(currentElement.created)) + '</p>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</button>'+
          '</h2>'+
        '</div>'+
        '<div id="collapse-' + currentElement.id + '" class="collapse" aria-labelledby="heading-' + currentElement.id + '" data-parent="#bbs">'+
          '<div class="d-flex justify-content-right">'+
            '<button type="button" class="btn btn-primary btn-xs m-2" onclick="recommend(' + currentElement.id + ')">추천</button>'+
            '<button type="button" class="btn btn-primary btn-xs m-2">작성자 정보</button>'+
          '</div>'+
          '<div class="ql-editor quill-content-' + currentElement.id + ' quill-content"></div>'+
        '</div>'
      ;
    });
    str += '</div>';
    return str;
  }

  var color = d3.scale.linear()
          .domain([0,1,2,3,4,5,6,10,15,20,100])
          .range(["#d33", "#c44", "#b11", "#a93", "#389", "#81f", "#73f", "#6f6", "#055", "#434", "#533", "#292"]);
  function drawWordCloud(result, tagList){
    console.log(tagList)
    let data = new Array();
    for (let [key, value] of Object.entries(tagList)) {
      var obj = new Object();
      obj.text = key;
      obj.value = value;

      data.push(obj);
    }
    console.log(data)

    d3.layout.cloud().size([450, 250])
            .words(data)
            .padding(0.2)
            .rotate(function () {
              return ~~(Math.random() * 2) * 90;
            })
            .fontSize(function(d) { return (d.value + 30 * 2) / 2; })
            .on("end", draw)
            .start();
  }

  function draw(words, pos) {
      console.log(words)
      console.log(pos)
      console.log(id) 
      d3.select("#wordcloud-" + id.substring(id.indexOf("=") + 1)).append("g")
        // without the transform, words words would get cutoff to the left and top, they would
        // appear outside of the SVG area
        .attr("transform", "translate(250,150)")
        .selectAll("text")
        .data(words)
        .enter().append("text")
        .style("font-size", function(d) { return (d.size) + "px"; })
        .style('font-family', 'Impact')
        .style("fill", function(d, i) { return color(i); })
        .attr("text-anchor", "middle")
        .attr("transform", (d) => "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")")
        .text(function(d) { return d.text; });
  }

  //yyyy-mm-dd 포맷 날짜 생성
  function getYmd10(d) {
    return d.getFullYear() + "-" + ((d.getMonth() + 1) > 9 ? (d.getMonth() + 1).toString() : "0" + (d.getMonth() + 1)) + "-" + (d.getDate() > 9 ? d.getDate().toString() : "0" + d.getDate().toString());
  }
</script>

{% endblock %}
<!-- Modal -->
{% block modal %}
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title ml-3" id="staticBackdropLabel">New Board</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title" class="modal-title ml-3"><h5>Title</h5></label>
          <input type="text" name="title" id="title" class="form-control" />
        </div>
        <hr />
        <div id="editor"></div>
        <hr />

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary board-insert">save</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
